* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: white;
    z-index: 50;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.logo-container .navbar-title {
    font-size: 16px;
}

.logo-container,
.theme-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 99999px;
}

.menu-item {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/* Hamburger Icon */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.sm-hidden {
    display: flex;
}







/* Responsiveness */
@media (max-width: 768px) {
    .navbar {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 99999px;
        padding: 10px;
        margin: 10px 16px;
        justify-content: space-between;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .menu.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .logo-container {
        border: none;
    }

    .logo-container > img {
        width: 25px;
        height: 25px;
    }

    .logo-container .navbar-title {
        font-size: 14px;
    }

    .sm-hidden {
        display: none;
    }
}