* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    z-index: 50;
    background-color: white;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.logo-container,
.theme-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.menu-item {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}
